.storeBar{
  background-color: #F2F2F2;;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;


  .storeContent{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .stores{
      img{
        margin: 0 15px;
      }

    }

  }

}