$base-color: #FF0000;

#page-home {
  .top{
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-sizing: border-box;
    padding: 24px 20px;
    .left{ 
      img{
        max-height: 100%;
        margin-right: 20px;
      }
      nav{
        display: inline-flex;
        align-items: center;
        height: 100%;
        a{
          color:black;
          margin: 0 10px;
        }
      }
    }
    .right{

    }
  }
}